  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
  <script src="https://kit.fontawesome.com/753dbed23b.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <a id="title-link" href="/posts"><i class="fa-solid fa-bug" style="color: #f5f5f5;"></i> Bug Reflector</a>
    <form id="search-form" action="/posts" method="GET">
      <input
        id="search-input"
        type="search"
        name="summary"
        placeholder="Search posts..."
        autocomplete="off"
      />
    </form>
    <% if (user) { %>
      <div id="nav-buttons">
        <p id="greeting">Hello, <%= user.profile.name %>!</p>
        <% if (user.admin) { %>
          <a href="/technologies/new"><button class="nav-btn">Add Technology</button></a>
        <% } %>
        <a href="/profiles/<%= user.profile._id %>" class="right">
          <button class="nav-btn" type="submit">My Profile</button>
        </a>
        <a href="/auth/logout" class="right">
          <button class="nav-btn" type="submit">Logout</button>
        </a>
      </div>
    <% } else { %>
      <div>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
          data-prompt_parent_id="g_id_onload"
        ></div>
        <div 
          class="g_id_signin right"
          id="google-div-sizer"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      </div>
    <% } %>
  </nav>
