@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans@400..700&display=swap');

html {
  box-sizing: border-box;
  min-height: 100%;
  background-color: #030303;
  margin: 0;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #030303;
  color: #D7DADC;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: 'IBM Plex Sans', system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100%;
}

nav {
  background-color: #1a1a1b;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 60px;
  border-bottom: 1px solid #343536;
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color:#D7DADC;
  text-decoration: none;
}
a:visited {color:#D7DADC;}
a:hover {
  color:#D7DADC;
  text-decoration: underline;
}
a:active {text-decoration: underline;}  

h2 {
  margin: 8px;
}

h3 {
  margin: 8px;
}

p {
  margin: 8px;
}

#main-landing {
  height: 100%;
  gap: 10px;
}

#landing-img {
  height: 350px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 70px;
  height: 100vh;
  border: solid #030303 2px;
}

.main-index-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
  height: 100vh;
  border: solid #030303 2px;
}

.content-card {
  background-color: #1a1a1b;
  padding: 8px;
  border: 1px solid #343536;
  border-radius: 4px;
  width: 95%;
  margin-top: 10px;
}

.new-post-card {
  background-color: #1a1a1b;
  padding: 8px;
  border: 1px solid #343536;
  border-radius: 4px;
  width: 95%;
  margin-top: 20px;
}

.comment-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#create-post-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(131, 131, 131);
}

#create-post-container:hover {
  cursor: text;
}

#create-post-container:visited {
  color: rgb(131, 131, 131);
}

.new-post-link {
  border: 1px solid #343536;
  box-sizing: border-box;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
  padding: 2px 5px;
  width: 90%;
}

.new-post-link:hover, .main-index-content > .content-card:hover {
  border-color: #818384;
}

#new-post-form { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.comment-divider {
  border-color: #818384;
  width: 550px;
}

#create-post-title {
  margin: 10px 0 0 33px;
  align-self: flex-start;
}

#summary-input {
  width: 90%;
  background-color: #303030;
  color:#D7DADC;
  border: solid 1px #818384;
  border-radius: 4px;
  padding: 5px;
}
#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#google-div-sizer {
  width: 250px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

#search-input {
  width: 300px;
  height: 35px;
  background-color: #303030;
  color:#D7DADC;
  border: solid 1px #818384;
  border-radius: 16px;
  padding: 10px;
}

.bug-resolved-prompt {
  align-self: flex-start;
  margin: 0 0 0 33px;
  color:#D7DADC;
}

.text-area {
  resize: vertical;
  border-radius: 4px;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
  'Helvetica Neue', sans-serif;
  min-height: 100px;
  width: 90%;
  background-color: #303030;
  color:#D7DADC;
  padding: 5px;
}

#checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

#tech-list {
  width: 90%;
  border-radius: 4px;
  border: solid 1px #818384;
  color:#D7DADC;
}

.post-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-headline > button {
  height: 20px;
}

.post-actions, .comment-headline {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

.comment-author {
  margin: 0;
  font-size: 12px;
}

.post-resolved {
  color: hsl(120,100%,36.1%);
  font-size: 14px;
  margin: 0 0 0 8px;
  background-color: #343536;
  border-radius: 4px;
  padding: 2px;
  width: 100px;
  text-align: center;
  font-weight:700;
}

.post-unresolved {
  color: hsl(0,100%,71.5%);
  font-size: 14px;
  margin: 0 0 0 8px;
  background-color: #343536;
  border-radius: 4px;
  padding: 2px;
  width: 115px;
  text-align: center;
  font-weight:700;
}

.post-author {
  font-size: 12px;
}

.comment-card > .post-author {
  align-self: flex-start;
  margin-left: 30px;
}

.post-summary {
  font-size: 18px;
}

.tech-list {
  font-size: 12px;
}

.right {
  margin-left: auto;
}

.right:hover {
  text-decoration: none;
}

#nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: #303030;
  border: none;
  border-radius: 50px;
  color: #D7DADC;
  height: 32px;
  line-height: 100%;
  letter-spacing: .05rem;
  padding: 10px 20px;
}

.nav-btn:hover {
  background-color: #818384;
}

#title-link {
  text-decoration: none;
}

#title-link:hover {
  color:#818384;
}

#greeting {
  color:#D7DADC;
  font-size: 12px;
}

.action-btn {
  background-color:#343536;
  border: none;
  color: #D7DADC;
  border-radius: 4px;
  padding: 4px 8px;
}

.action-btn:hover {
  background-color: #818384;
}

.comment-pic-and-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-headline > .comment-pic-and-name {
  gap: 0;
}

.comment-pic {
  border-radius: 50%;
  height: 25px;
}

.comment-content {
  margin-left: 33px;
}

.admin-tech-items {
  margin-left: 33px;
}

#save-btn {
  margin-bottom: 10px;
}

@media only screen and (max-width: 965px) {
  #greeting {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  #profile-btn, #add-tech-btn {
    display: none;
  }
}

@media only screen and (min-width: 640px) {
  .content-card, .new-post-card {
    width: 640px;
  }
}

@media only screen and (max-width: 537px) {
  #search-input {
    width: 250px;
  }
}
